/* Custom style for dropdown button */
.dropdown-toggle {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #17a2b8;
    color: white;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

/* Custom styling for DataTable pagination */
.dataTables_paginate .paginate_button {
    color: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #007bff;
    color: white;
}

.dataTables_paginate .paginate_button.current {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
